<nav>
	<ul class="pagination">
		<li class='<%= currentPage == 1 ? "disabled" : "" %>'><a href="#" aria-label="Previous" class='prev'> <span
				aria-hidden="true">&laquo;</span>
		</a></li> 
		<% for (var i = 1; i <= totalPages; i++) { %>
			<li class='<%= currentPage == i ? "active" : "" %>' ><a href="#" class="page" data-nm_page="<%= i %>"><%= i %></a></li> 
		<% } %>
		<li class='<%= currentPage == totalPages ? "disabled" : "" %>' ><a href="#" aria-label="Next" class='next'> 
		<span aria-hidden="true">&raquo;</span>
		</a></li>
	</ul>
</nav>