
<div class="panel panel-warning">
	<div class="panel-heading">Insert / Edit</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="id" class="col-sm-3 control-label">Id:</label>
				<div class="col-sm-9">
					<input id="id" name="id" type="text"
						value="<%= id === null ? '' : id %>" class="form-control"
						disabled="disabled" />
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="col-sm-3 control-label">Name:</label>
				<div class="col-sm-9">
					<input type="text" id="name" name="name" value="<%= name %>"
						class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<a href="#" class="btn btn-primary save">Save</a>
				</div>
			</div>
		</form>
	</div>
</div>




